# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo

# Ignore virtual environments
venv/
.env/
.envrc
.tool-versions

# Ignore environment variable files
*.env

# Ignore macOS system files
.DS_Store

# Ignore VS Code settings
.vscode/
*.code-workspace

# Ignore private key data
priv_data.txt

#Ignore data directory
data/
